################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TheBoard/node_modules
/TheBoard/data
*.lock
/TheBoard/public/lib
/mongodb local server/data
/.vs/config
